
<div class="form-container form-add">
    <form action="/listado/addItem" method="post">
        <input type="text" placeholder="Año" name="año" size="50" maxlength="20">
        <input type="text" placeholder="Nombre" name="nombre" size="50" maxlength="120">
        <input type="text" placeholder="Link Portada" name="portada" size="50" maxlength="500">
        <input type="text" placeholder="Link Contenido" name="contenido" size="50" maxlength="500">
            <div class="btn-group">
            <input type="submit" value="Enviar">
            <a href="/listado"><input type="button" value="Cancelar"></a>
        </div>
    </form>
</div>
